Source: ros-indigo-sick-visionary-t
Section: misc
Priority: extra
Maintainer: Joshua Hampp <joshua.hampp@ipa.fraunhofer.de>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin
Homepage: http://wiki.ros.org/sick_visionary_t
Standards-Version: 3.9.2

Package: ros-indigo-sick-visionary-t
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-sick-visionary-t-driver
Description: Open source driver for the SICK Visionary-T 3D TOF camera.
